@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format(woff2);
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background: #f2f2f2;
  margin: 0;
  min-width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  border: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
}

.button-brow:hover {
  background: #615048;
}

.button-brow:focus {
  background: #615048;
}

.button-brow:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-blue:hover {
  background: #68a2ca;
}

.button-blue:focus-visible {
  background: #68a2ca;
}

.button-blue:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-green:hover {
  background: #6c9e42;
}

.button-green:focus {
  background: #6c9e42;
  outline: none;
}

.button-green:active {
  background: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
  cursor: default;
}

.container {
  width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-header {
  display: flex;
  box-sizing: border-box;
  width: 1200px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #ffffff;
}

.navigation-logo {
  display: block;
  box-sizing: border-box;
  margin-right: 27px;
  margin-bottom: -10px;
  z-index: 1;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 946px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 422px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

.navigation-user {
display: flex;
flex-wrap: wrap;
justify-content: flex-end;
list-style-type: none;
padding: 0;
width: 300px;
margin: 0;
}

.navigation-link {
position: relative;
display: block;
box-sizing: border-box;
padding-top: 20px;
padding-bottom: 17px;
padding-right: 16px;
padding-left: 16px;
text-transform: capitalize;
color: #000000;
text-decoration: none;
font-weight: 700;
font-size: 20px;
line-height: 24px;
}

.navigation-link-current {
position: relative;
}

.heart {
 padding-right: 23px;
 padding-top: 22px;
}

.search {
  padding-top: 23px;
  padding-right: 9px;
}

.number-of-heart {
display: inline-block;
background: #7db54f;
border-radius: 50%;
color: #ffffff;
font-family: inherit;
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 10px;
position: absolute;
left: 23px;
top: 11px;
padding: 5px;
}

.navigation-link-here {
display: block;
width: 160px;
box-sizing: border-box;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
border-radius: 4px;
color: #ffffff;
background-color: #756157;
padding: 8px 10px 8px 10px;
cursor: pointer;
text-decoration: none;
}

.navigation-item-here {
padding-top: 14px;
padding-left: 10px;
display: block;
box-sizing: border-box;
}

.navigation-link-current::after {
content: "";
position: absolute;
bottom: -1px;
right: 14px;
width: 93px;
border-bottom: 2px solid #756257;
}

.navigation-link-current-main::after {
content: "";
position: absolute;
bottom: -4px;
right: 16px;
width: 68px;
border-bottom: 2px solid #756257;
}

.main-index {
  background-color: #ffffff;
  color: #000000;
}

.background-image {
  background-color: #58b8f8;
  width: 1200px;
  height: 485px;
  background: url("../images/welcom-element.svg") bottom no-repeat, url("../images/index-background.jpg") no-repeat;
  text-align: center;
  box-sizing: border-box;
  padding-top: 51px;
}

.descriptions-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 69px;
  margin-right: 290px;
  margin-left: 290px;
  margin-bottom: 25px;
  padding: 0;
}

.description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 90px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  background-color: rgba(131, 179, 211, 0.12);
  list-style-type: none;
}

.advantage-title {
  margin: 0;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
  padding-right: 25px;
  padding-left: 25px;
}

.advantages-item-with-photo {
  display: flex;
  background-color: #82b3d3;
  color: #ffffff;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.advantages-img {
  max-width: 800px;
  height: 100%;
  object-fit: cover;
}

.advantage-item {
  display: grid;
  width: 230px;
  margin-top: 92px;
  margin-left: 85px;
  margin-right: 85px;
  margin-bottom: 111px;
}

.advantage-item::before {
  order: 2;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  content: "";
  margin-bottom: 30px;
  margin-right: 85px;
  margin-left: 85px;
}

.advantage-text {
  display: grid;
  width: 230px;
  margin-top: 103px;
  margin-bottom: 121px;
  margin-left: 85px;
  margin-right: 85px;
}

.advantages-item-dark-blue {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-blue {
  width: 400px;
}

.advantages-item-white {
  width: 400px;
  background-color: #ffffff;
}

.advantage-description {
  order: 3;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantage-text-icon-house {
  padding: 182px 85px 81px 85px;
  background-image: url("../images/icons/House.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 80px;
}

.advantage-text-icon-food {
  padding: 182px 85px 81px 85px;
  background-image: url("../images/icons/food.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 80px;
}

.advantage-text-icon-souvenir {
  padding: 182px 85px 81px 85px;
  background-image: url("../images/icons/souvenir.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 80px;
}

.advantage-title-with-icon {
  margin: 0;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
}

.advantage-text::before {
  order: 2;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  content: "";
  margin-bottom: 30px;
  margin-right: 85px;
  margin-left: 85px;
}

.booking-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 96px 451px 20px 451px;
}

.booking-description {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 304px 54px 304px;
}

.button-booking {
  display: block;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  width: 376px;
  margin: 0 412px 95px 412px;
  padding: 8px 26px 8px 26px;
}

.mailing {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/background-mailing.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.mailing-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 97px;
  padding-bottom: 20px;
}

.mailing-description {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding-left: 362px;
  padding-right: 362px;
  padding-bottom: 54px;
}

.e-mail-form {
  display: flex;
  padding-left: 258px;
  width: 684px;
}

.form-e-mail {
  margin: 0;
}

.field {
  padding: 14px 20px 14px 20px;
  width: 413px;
  font-size: 18px;
  line-height: 24px;
  background: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
  font-family: inherit;
}

.button-mailing {
  padding: 8px 50px 8px 50px;
  margin-bottom: 105px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
  justify-content: space-between;
  background-color: #ffffff;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 162px;
  gap: 30px;
}

.footer-social-item {
  display: block;
  width: 24px;
  height: 14px;
  padding-top: 55px;
  padding-bottom: 47px;
}

.footer-social-vk {
  padding-left: 11px;
}

.footer-social-telegram {
  padding-left: 8px;
}

.footer-social-link {
  color: #83b3d3;
}

.footer-social-link:hover {
  color: #68a2ca;
}

.footer-social-link:focus {
  color: #68a2ca;
  outline: none;
}

.footer-social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  width: 344px;
}

.contacts-phone {
  min-width: 331px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  margin-top: 45px;
  margin-bottom: 35px;
  margin-right: 36px;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
  outline: none;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.logo-html {
  display: block;
  box-sizing: border-box;
  width: 120px;
  padding-top: 48px;
  padding-bottom: 39px;
  padding-left: 5px;
}

.logohtml {
  color: #000000;
  padding-bottom: 30px;
}

.logohtml:hover {
  color: #756157;
}

.logohtml:focus {
  color: #756157;
  outline: none;
}

.logohtml:active {
  color: rgba(117, 97, 87, 0.3);
}

.main-inner {
  background-color: #ffffff;
  width: 1200px;
}

.main-container {
  min-height: 412px;
  background-color: #82b3d3;
  background-image: url("../images/inner-background.jpg");
  background-size: cover;
}

.header-text {
  color: #ffffff;
  padding: 35px 70px 48px 70px;
}

.inner-header-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 6px;
  margin-bottom: 39px;
  margin-left: 1px;
}

.breadcrumbs-link {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  display: inline-block;
  text-decoration: none;
}

.breadcrumbs-item:not(:first-child)::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 10px;
  margin-left: 9px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  margin-right: 5px;
}

.breadcrumbs-icon {
  padding-top: 5px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filter-container-left {
  display: grid;
  grid-template-columns: 152px 151px;
  gap: 69px;
}

.filter-container-right {
  display: grid;
  grid-template-columns: 288px 191px;
  align-items: flex-start;
  gap: 70px;
}

.range {
  margin-bottom: 30px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: #ffffff;
}

.range-bar {
  position: absolute;
  background-color: #888684;
  height: 4px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.toggle-min {
  top: -8px;
  left: -228px;
}

.toggle-max {
  top: -8px;
  right: 61px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.range-wrapper-inputs {
  display: flex;
  padding-bottom: 44px;
}

.range-input {
  box-sizing: border-box;
  padding: 12px 20px;
  background: #f2f2f2;
  height: 48px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  font-family: inherit;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
}

.range-input:hover {
  background: #e6e6e6;
}

.range-input:focus {
  background: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.range-input:active {
  background: #f2f2f2;
  outline: 2px solid #000000;
}

.catalog-filter-label {
  position: relative;
}

.min-price::after {
  position: absolute;
  content: "от";
  color: #000000;
  z-index: 1;
  bottom: 14px;
  right: 20px;
  opacity: 0.3;
}

.max-price::after {
  position: absolute;
  content: "до";
  color: #000000;
  z-index: 1;
  opacity: 0.3;
  bottom: 14px;
  right: 20px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/check-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-label {
  line-height: 23px;
}

.control-mark-circle {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark-circle {
  background-image: url("../images/check-circle.svg");
  background-repeat: no-repeat;
  background-position: top 4px right 5px;
}

.control:disabled + .control-mark {
  opacity: 0.6;
}

.control:hover {
  opacity: 0.3;
}

.control:active {
  opacity: 0.4;
}

.control-input + .control-mark:focus {
  outline: 2px solid #83b3d3;
}

.button-container {
  display: grid;
  row-gap: 41px;
  padding-top: 55px;
}

.button-rest {
  background: transparent;
}

.button-apply {
  min-height: 36px;
}

.button-rest:hover {
  background: transparent;
  color: rgba(255, 255, 255, 0.3);
}

.button-rest:focus {
  color: #ffffff;
  background: transparent;
  outline: 3px solid #83b3d3;
}

.button-rest:active {
  background: transparent;
  color: rgba(255, 255, 255, 0.3);
}

.reset-button:disabled {
  opacity: 0.1;
}

.catalog-filter-group {
  border: 0;
  padding: 0;
  margin: 0;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-item {
  padding-bottom: 16px;
}

.catalog-filter-title {
  padding-bottom: 31px;
  padding-left: 1px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.find-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 46px;
  margin-bottom: 36px;
  padding: 0;
}

.find {
  font-family: inherit;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  height: 49px;
  padding: 11px 20px 14px 17px;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 17px center;
  -webkit-appearance: none;
          appearance: none;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-left: 131px;
  margin-top: 4px;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68a2ca;
}

.select-control:active {
  border: 2px solid #3f5e72;
}

.button-icon {
  display: flex;
  flex-wrap: wrap;
  min-width: 160px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 7px;
  padding-top: 4px;
}

.button-icon-item {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  background-position: bottom;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.button-icon-view {
  padding: 0 44px;
}

.icon-view {
  position: absolute;
  top: 14px;
  left: 14px;
}

.button-icon-current {
  border: 2px solid #000000;
}

.button-icon-view:hover {
  border-radius: 4px;
  outline: 2px solid #000000;
}

.button-icon-view:focus-visible {
  outline: 2px solid #83b3d3;
  border-radius: 4px;
}

.button-icon-view:active {
  outline: 2px solid #000000;
  border-radius: 4px;
}

.product-container {
  background-color: #ffffff;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  color: #000000;
  background-color: #ffffff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.product-card {
  display: flex;
  width: 340px;
  box-sizing: border-box;
  flex-direction: column;
  padding: 19px 20px 20px 20px;
  border: 1px solid #e6e6e6;
  flex-grow: 1;
}

.product-card-text {
  display: grid;
  grid-template-rows: min-content auto min-content;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  row-gap: 16px;
}

.product-link {
  text-decoration: none;
}

.product-card-title {
  padding-top: 13px;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.product-card-button-detail {
  align-items: center;
  background: #756157;
  padding: 8px 18px 8px 18px;
}

.product-card-button {
  align-items: center;
  background: #82b3d3;
  padding: 8px 18px 8px 18px;
}

.product-card-button-green {
  align-items: center;
  background: #7db54f;
  padding: 8px 18px 8px 18px;
}

.product-card-price {
  text-align: right;
  padding-top: 15px;
  margin: 0;
}

.hotel {
  padding-top: 15px;
  margin: 0;
}

.hotel-stars-4 {
  background-image: url("../images/hotel-star.svg");
  background-repeat: space;
  width: 89px;
  height: 17px;
  margin-bottom: 0;
  margin-top: 10px;
}

.hotel-stars-3 {
  background-image: url("../images/hotel-star.svg");
  background-repeat: space;
  width: 65px;
  height: 17px;
  margin-bottom: 0;
  margin-top: 10px;
}

.hotel-stars-2 {
  background-image: url("../images/hotel-star.svg");
  background-repeat: space;
  width: 41px;
  height: 17px;
  margin-bottom: 0;
  margin-top: 10px;
}

.raiting {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background: #f2f2f2;
  border-radius: 4px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 7px;
}

.catalog-line {
  width: 1060px;
  border: 1px solid #e6e6e6;
  margin-bottom: 35px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-left: 66px;
  margin-top: 5px;
  margin-bottom: 58px;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  padding: 11px 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #82b3d3;
  text-align: center;
  margin: 4px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 4px;
}

.pagination-current {
  background: #f2f2f2;
  color: #000000;
}

.pagination-point {
  background: transparent;
  color: #000000;
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  padding: 11px 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  margin: 4px;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-link:not(.pagination-current):hover {
  background: #68a2ca;
}

.pagination-link:not(.pagination-current):focus {
  background: #68a2ca;
}

.pagination-link:not(.pagination-current):active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.mailing-catalog {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  overflow-y: auto;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px 64px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  box-sizing: border-box;
}

.modal-auth {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background: #e6e6e6;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-close-button:focus {
  background: #e6e6e6;
  border: 3px solid #83b3d3;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-close-button:active {
  opacity: 0.3;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 65px;
  padding-right: 35px;
}

.booking-form-field {
  font-family: inherit;
  background: #f2f2f2;
  margin: 0;
  border-radius: 4px;
  border: none;
  padding: 12px 35px 12px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  width: 440px;
  box-sizing: border-box;
  position: relative;
}

.modal-icon-date {
  position: absolute;
  top: 15px;
  right: 21px;
  opacity: 0.6;
}

.booking-form-field:hover {
  background: #e6e6e6;
}

.booking-form-field:focus-visible {
  background: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.booking-form-field:active {
  background: #f2f2f2;
  outline: 2px solid #000000;
}

.field-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.input-wrapper {
  position: relative;
  display: flex;
}

.form-error {
  position: absolute;
  top: 50px;
  left: 0;
  margin: 0;
  padding: 0 20px;
  color: #ff5757;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.form-text {
  position: absolute;
  top: 50px;
  left: 0;
  margin: 0;
  padding: 0 20px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.booking-form-field-guest {
  width: 110px;
  box-sizing: border-box;
  padding-left: 36px;
  text-align: center;
  font-family: inherit;
}

.guest-wrapper {
  display: grid;
  grid-template-columns: 247px 242px;
  column-gap: 88px;
}

.guest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.field-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  font-family: inherit;
  width: 20px;
  height: 20px;
}

.field-btn:hover svg {
  color: #000000;
  opacity: 1;
}

.field-btn:focus {
  color: #000000;
  opacity: 1;
  outline: 3px solid #83b3d3;
}

.field-btn:active {
  color: #000000;
  opacity: 0.3;
}

.minus-icon {
  background-color: #000000;
  opacity: 0.3;
}

.plus-icon {
  color: #000000;
  opacity: 0.3;
}

.field-btn-plus {
  right: 10px;
  top: 25px;
}

.field-btn-minus {
  top: 19px;
  left: 10px;
}

.button-modal {
  padding: 18px 77px 18px 77px;
  width: 577px;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 24px;
}

.tooltip {
  position: absolute;
  margin-left: 10px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  border: none;
  display: bloc;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.tooltip-text {
  background: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 216px;
  min-height: 110px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 14px;
  padding-left: 23px;
  padding-right: 18px;
  color: #ffffff;
  position: absolute;
  left: 51%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
  margin-top: 8px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::before {
  content: "";
  background-image: url("../images/tooltip-arrow.svg");
  position: absolute;
  z-index: 1;
  width: 19px;
  height: 9px;
  top: -9px;
  right: 120px
}
